<div style="text-align:center;margin-top: 10rem;color:red;font-size: 2rem;">
    <h2>The URL you are trying to accss is either expired or already used. Try generating another URL from <a
            href="http://localhost:<%= process.env.PORT %>/forgot_password">here</a></h2>
</div>