body{
    background-color: white;
    color: black;
    font-size: 12px;  
  }

.reset_password{
    border:1px solid grey;
      border-radius: 5px;
    background-color: white;
    min-width:400px;
    // min-height: 500px;
    padding: 40px 40px 36px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading{
    text-align:left;
    margin-bottom: 2rem;
    font-size: 1rem;
}
.mb{
  margin-bottom: 1.5rem;
}