<div style="background-color: #004D40;color: white;text-align: center;padding: 2rem ;">
    <h2>Hey! <%= accountVerificationToken.user.username  %></h2>
    <br>

    <p style="font-size: 1.2rem;"> Click the below link to activate your account. </p>
    <br>
    <a style="color:white;font-size: 1rem;"
        href="http://localhost:<%= process.env.PORT %>/accountVerification/<%= accountVerificationToken.token %>">
        Activate
        account </a>
</div>