<div>
    <p>Hey! <%= accountVerificationToken.user.username  %></p>
    <br>
    <br>
    <p> Click the below link to activate your account. </p>
    <br>
    <a href="http://localhost:<%= process.env.PORT %>/accountVerification/<%= accountVerificationToken.token %>">
        Activate
        account </a>
</div>