<div style="background-color: #004D40;color: white;text-align: center;padding: 2rem ;">
    <h2>Hey! <%= resetPasswordToken.user.username  %></h2>
    <br>

    <p style="font-size: 1.2rem;"> Click the below link to reset the password </p>
    <br>
    <a style="color:white;font-size: 1rem;"
        href="http://localhost:<%= process.env.PORT %>/reset_password/<%= resetPasswordToken.token %>">
        Reset Password </a>
</div>